gtest/
src/
m4/


Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gitignore
install-sh
libtool
ltmain.sh
missing
protobuf-lite.pc
protobuf.pc
stamp-h1
test-driver
